"fastapi
uvicorn[standard]
gunicorn
SQLAlchemy
psycopg2-binary
smartapi-python
websocket-client
pyotp
requests
pandas
numpy
python-multipart
python-jose[cryptography]
bcrypt
yfinance
logzero
pytz
python-dotenv
"
